body {
  font-family: "Montserrat", sans-serif;
}

#op {
  opacity: 0.2;
  filter: alpha(opacity=50);
}

#logo-container {
  width: 280px;
  height: 100%;
  margin-top: 5px;
}

#navbar--style{
  background:none;
  box-shadow: none;
}
#navbar--style a{
  color: #00308F;
  font-size: 1.5rem;
}


nav {
  height: 85px;
}


nav ul a {
  color: #00308F !important;
  font-weight: bold;
  font-size: 3rem;
}

.light {
  font-weight: 600;
}

@media (max-width: 475px) {
  #logo-container {
    margin-top: 0px;
    height: 100%;
    width: 300px;
  }
}

@media (max-width: 993px) {
  #logo-container {
    margin-right: 100px;
    height: 100%;
    width: 300px;
  }
}



